*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(120deg , rgb(82, 113, 179) ,
    rgb(32, 14, 99));
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;
}
.qrcode{
    width: 320px;
    min-height: 250px;
    position: absolute;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
}
.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;

}
.container input{
    width: 100%;
    height: 50px;
    border: 2px solid rgb(17, 57, 99,0.5);
    padding: 10px;
    /* outline: 0; */
    margin: 10px 0 20px;
    border-radius: 5px;

}
.container button{
    width: 100%;
    height: 50px;
    background-color: #494eea;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.13);
    cursor: pointer;
    outline: 0;



}
#imgBox{
    width: 100%;
    /* border: 3px solid black; */
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 10s;

}
#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}